In [ ]:
a = 10
print (float(a))

In [ ]:
a = 10.8
print (int(a))

In [ ]:
a = 12.9
print (int(a))

In [ ]:
a = 10.1
print (complex(a))

In [ ]:
# format strings:
txt = "This is For only {p:.3f} dollars!"
print(txt.format(p = 49))

In [ ]:
txt1 = "My name is {name}, I'm {a}".format(name = "abc", a = 36)
print(txt1)
txt2 = "My name is {0}, I'm {1}".format("abc",3)
txt3 = "My name is {}, I'm {}".format("abc",3)

In [ ]:
moduleno = 2
s= f"This is a format string and we are at module {moduleno}"
print(s)

In [ ]:
txt = f"price is {20 * 59} rupees"
print(txt)

In [ ]:
num = 200
txt = f"It is too {'high' if num>100 else 'low'}"
print(txt)

In [ ]:
try:
    # Try to execute some code that might raise an exception
    value = int(input("Enter a number: "))
    
    # If the input is successful, use if-else to check conditions
    if value > 0:
        print("The number is positive.")
    elif value < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

except ValueError:
    # Handle the exception if the input is not a valid integer
    print("Invalid input! Please enter a valid integer.")

In [ ]:
str1 = 'this is a string'
str2 = "this is also a string"
str3 = '''this is a multiline string'''
print (str1, str2, str3)

In [ ]:
print ("This will be \n displayed as 2 lines in console")

In [ ]:
print('''Here, it will be 
displayed as 2 lines in the console''')

In [ ]:
'''
This is not executed
abcd efgh 
this is a string but behaves as a comment as it is not assigned to any variable, python ignores it. 
'''
print ("This is executed")

In [ ]:
"comment"
print ("hello")

# notes in drive, module - 1 error

# Basic string operations

In [ ]:
# concatenate 
s1 = "hello "
s2 = "people" 
print (s1 + s2)
print (s1,s2)

In [ ]:
# * = multiple times 
a = "I like DS"
print (a*3)

In [ ]:
# indexing 
my_string = "Good Evening Edurekans..."
str_a = "I like to learn DS"
str_b = "Machine learning"
str_c = "Deep learning"
print (str_a[0])

In [ ]:
print (str_b[0:4]) # 4 = exclusive

In [ ]:
print (str_c[0:])

In [ ]:
print (str_c[:12])

In [ ]:
#negative indexing
print (my_string [-12:-1])

In [ ]:
print (my_string[5:-2])

In [ ]:
original_string = "Hello, World!"
reversed_string = original_string[::-1]
print(reversed_string)  # Output: !dlroW ,olleH

# Lists

In [ ]:
li = ['string', True, 2, 2.0]
print (li)

In [ ]:
sales = map(int, input ('Sales(Separated by comma)').split(',')) # map is a function that takes 2 inputs, and it returns a map object.
sales = list(sales) # converting the map object into list.
print(sales)

In [ ]:
print ('Sales of first 3 days', sales[:3]) # by default 0:3, it will print the values of 0,1,2 elements
print ('Sales of the 4th day: ', sales[3])
sales.sort()
print ('sales in ascending order ', sales)
print ('sales in descending order ', sales[::-1])
second_week = [651,652,653,654,655,666]
sales.extend(second_week) # usecases of extending and appending 
print(f"sales after extending the second week's sales: {sales}")
last_day = int (input('Enter the sales of last day'))
sales.append(last_day)
print ('Total ',sum (sales))
print ('Maximum ',max(sales))
print ('Minimum ', min(sales))

In [ ]:
# difference netween append and extend 
x = [1, 2, 3]
x.append([4, 5])
print(x)  # Output: [1, 2, 3, [4, 5]] Adds a single object to the end of a list.

In [ ]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)  # Output: [1, 2, 3, 4, 5] Appends multiple objects from an iterable (e.g., list, tuple, string) to the list.

# Tuples

In [ ]:
my_tuple = (1,3,5)
my_tuple = (1, "edureka", 4.5)
my_tuple[0] = 10  # runtime error if you need a mutable collection, use lists; if you need an immutable one, use tuples!

In [ ]:
my_tuple = (1, 2, 3)
try:
    my_tuple[0] = 10  # This will raise a TypeError
except TypeError as e:
    print(e)

In [ ]:
# related to dictionary
try:
    my_list_key = (10, 20)
    locations = {my_list_key: "Point A"}  # This will raise a TypeError
    print(locations)
except TypeError as e:
    print(e)

In [ ]:
my_tuple = ('data', [1,4,7], ('a','d',6))
my_tuple[1][2] = 5
print (my_tuple)

In [ ]:
my_tuple[1][1] = 5
print(my_tuple)

# Sets

In [ ]:
vowels = {'a','a','a', 'a', 'e','i', 'o', 'u'}
print ('set of vowels', vowels)

In [ ]:
my_list = ['a', 'e', 'i']
my_set = set(my_list)
print(my_set)

In [ ]:
#set operations 
a = {6,5,4,2,1}
b = {8,7,6,5,3}
print (a|b) # union 1,2,3,4,5,6,7,8

In [ ]:
print (a&b) # intersection 5,6

In [ ]:
print (a-b) # difference 1,2,4

In [ ]:
print (b-a) # diference  8,7,3

In [ ]:
print (a^b) # symmetric difference 1,2,3,4,7,8

# Dictionaries

In [ ]:
emp_data = {'Name':'James', 'Age':25, 'Band': 'C'}
#dictionary operations
print(emp_data)

In [5]:
keys = ['Name', 'ID', 'Class']
print (type(keys))

<class 'list'>

In [9]:
my_dict = dict.fromkeys(keys) #The fromkeys() method is called on the dict class.It creates a new dictionary where the keys are taken from the iterable (in this case, the list keys).

In [11]:
print (my_dict) #o/p : {'Name':None, 'ID':None, 'Class':None} The values for all keys are set to None by default.

{'Name': None, 'ID': None, 'Class': None}

In [13]:
my_dict['Name'] = 'YOURNAME'
my_dict['ID'] = 2345 # if key is present, the value is updated otherwise this item is added in the dictionary.
my_dict['class'] = 'A' # notice that class and Class are different and class was not the key previously present it has been added now by this statement
print(my_dict)

{'Name': 'YOURNAME', 'ID': 2345, 'Class': None, 'class': 'A'}

In [15]:
print(my_dict.items())
print(my_dict.keys())

dict_items([('Name', 'YOURNAME'), ('ID', 2345), ('Class', None), ('class', 'A')])
dict_keys(['Name', 'ID', 'Class', 'class'])

In [17]:
new_dict = {'Name':'Sherlock', 'ID':10, 'series':'popular'}
print(my_dict)
my_dict.update(new_dict)
print (my_dict.values())
print (my_dict.keys())
print (my_dict.items())

{'Name': 'YOURNAME', 'ID': 2345, 'Class': None, 'class': 'A'}
dict_values(['Sherlock', 10, None, 'A', 'popular'])
dict_keys(['Name', 'ID', 'Class', 'class', 'series'])
dict_items([('Name', 'Sherlock'), ('ID', 10), ('Class', None), ('class', 'A'), ('series', 'popular')])

In [19]:
my_dict['address'] = 'bangalore'
print(my_dict)

{'Name': 'Sherlock', 'ID': 10, 'Class': None, 'class': 'A', 'series': 'popular', 'address': 'bangalore'}

In [25]:
# print (my_dict.pop('address')) #removing the element and pop will return the value 
print(my_dict.popitem()) #removes any item and returns the item
print(my_dict)

('class', 'A')
{'Name': 'Sherlock', 'ID': 10, 'Class': None}